CogniStudyApp/.idea/inspectionProfiles/profiles_settings.xml
CogniStudyApp/app/app.iml
CogniStudyApp/.idea/inspectionProfiles/Project_Default.xml
csapp
CogniStudyApp/.idea/dictionaries/Lance.xml
CogniStudyApp/.idea/vcs.xml
