<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cognitutor.cognistudyapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.cognitutor.cognistudyapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cognitutor.cognistudyapp.permission.C2D_MESSAGE" />

    <application
        android:name=".Custom.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_cognitutor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".Activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NewChallengeActivity"
            android:label="@string/title_activity_new_challenge"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChooseBoardConfigurationActivity"
            android:label="@string/title_activity_choose_board_configuration"
            android:parentActivityName=".Activities.NewChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChallengeActivity"
            android:label=""
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChallengeQuestionActivity"
            android:label="@string/title_activity_challenge_question"
            android:parentActivityName=".Activities.ChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BattleshipAttackActivity"
            android:label="@string/title_activity_battleship_attack"
            android:parentActivityName=".Activities.ChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.QuestionHistoryActivity"
            android:label="@string/title_activity_question_history"
            android:parentActivityName=".Activities.ChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PastQuestionActivity"
            android:label="@string/title_activity_past_question"
            android:parentActivityName=".Activities.QuestionHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.BookmarkedQuestionActivity"
            android:label="@string/title_activity_past_question"
            android:parentActivityName=".Activities.BookmarksListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SuggestedQuestionActivity"
            android:label="@string/title_activity_past_question"
            android:parentActivityName=".Activities.SuggestedQuestionsListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ChallengeAnalyticsActivity"
            android:label="@string/title_activity_challenge_analytics"
            android:parentActivityName=".Activities.ChallengeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.StudentProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentActionBar"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SuggestedQuestionsListActivity"
            android:label="@string/title_activity_suggested_questions"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.BookmarksListActivity"
            android:label="@string/title_activity_bookmarks"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.AchievementsActivity"
            android:label="@string/title_activity_achievements"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.TutorProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentActionBar"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.parse.PushService" />

        <!--android:name="com.parse.ParsePushBroadcastReceiver"-->
        <receiver
            android:name="com.cognitutor.cognistudyapp.Custom.CogniBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.cognitutor.cognistudyapp" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.CogniActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activities.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_verify_email" />
        <activity android:name=".Activities.ChooseDisplayNameActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_choose_display_name" />
        <activity android:name=".Activities.ChooseOpponentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_choose_opponent" >
        </activity>
        <activity android:name=".Activities.PracticeChallengeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_practice_challenge"
            android:parentActivityName=".Activities.MainActivity" >
        </activity>
    </application>

</manifest>
